@import url(https://fonts.googleapis.com/css?family=Nunito);

.navbar{
	background-color: #ffffff;
	box-shadow:0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
	min-height: 80px;
}

.nav-link{
	color: rgb(12, 106, 88);
}

.nav-link:hover{
	color : rgb(12, 106, 88);
}

.navbar-toggler{
	font-size: 40px;
}

.navbar-toggler:focus{
	outline: none;
}

.logo-brand{
	min-width: 20px;
	max-width: 55px;
}

.panel-container{
	margin-top: 20px;
}

.panel-container h1{
	color : rgb(12, 106, 88);
	text-align: center;
}
.card-header
{
	font-size: 30px;
	padding: 0;
}