@import url(https://fonts.googleapis.com/css?family=Nunito);
a
{
	color: #006854;
}
a:hover
{
	text-decoration: none;
	color: #005343;
}
.navbar
{
	background-color: #ffffff;
	box-shadow:0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
	min-height: 80px;
}

.nav-link
{
	color: rgb(12, 106, 88);
}

.nav-link:hover
{
	color : rgb(12, 106, 88);
}

.navbar-toggler
{
	font-size: 40px;
}

.navbar-toggler:focus
{
	outline: none;
}

.logo-brand
{
	min-width: 20px;
	max-width: 55px;
}
.title h1
{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
}
.title p
{
	text-align: center;
	font-size: 25px;
	color: #555555;
}
.title-charts h4
{
	font-family: 'Montserrat', sans-serif;
	color: #006854;
	margin-bottom: 0px;
}
.title-charts p
{
	color: #555555;
	margin-top: 0px;
	font-weight: bold;
}
.panel-container
{
	margin-top: 20px;
}

.panel-container h1
{
	color : rgb(12, 106, 88);
	text-align: center;
}
.card-header
{
	font-size: 30px;
	padding: 0;
}

#card-chart h1
{
	color: white;
}
#card-chart p{
	color: white;
	text-align: center;
	font-size: 20px;
}
#card-chart .col{
	margin-left: 20px;
	margin-right: 20px;
}
.card-total
{
	background: #48C2C4;
}

.card-completos
{
	background: #006854;
}
.card-incompletos
{
	background: #F03C5A;
}
.card-estadistica
{
	background: #8b8b8b;
	color: white;
	text-align: center;
}
.card-estadistica h1
{
	color: white;
}
.card-seguimientos
{
	background: #006854;
	padding: 10px;
}
.card-seguimiento-guia
{
	color: white;
	font-size: 30px;
}
.card-tipos
{
	background: white;
	margin: 10px;
}
.card-tipos p
{
	text-align: center;
	color : rgb(12, 106, 88);
	font-weight: bold;
}
.border-success {
	border-color: #006854!important;
}

.border {
	border: 2px solid #006854!important;
}